.highlighted-text {
    background-color: #E3311C;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.custom-tooltip {
    position: absolute;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
